html{
    font-family: 'Montserrat', sans-serif;
    color: azure;
    background-color: #272932;
    letter-spacing: 2px;
}
.main{
    margin: auto;
    background-image: url("./Diadni-RDY-NA-WEB/bg5.jpg");
    background-size: contain;
    background-repeat: no-repeat;

}
.galery{
    background-image: url("./Diadni-RDY-NA-WEB/bg5.jpg");
    background-size: cover;
    background-position-x: center;
}
body{
    margin: 0;
}
img{
    width: 100%;
}
h4{
    font-size: 16px;
}
.front-page{
    background-image: url("./Diadni-RDY-NA-WEB/DSC047132.0.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1298px;
    margin: auto;
    padding-top: 2em;
}
.header-page__span{
    visibility: hidden;
    position: absolute;
}
.front-page__fotky{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.front-page__fotky .obr1{
    max-width: 200px;
    height: 100%;
}
.front-page__fotky .obr2{
    max-width: 400px;
    height: 100%;
}
.nav{
    display: flex;
    justify-content: right;
    gap: 20px;
    flex-direction: column;
}
.nav__item{
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #FFF6EC;
    border: solid 5px #272932;
    text-decoration: none;
    color: #272932;
    font-weight: 600;
    transition: 0.3s
}
.nav__item:hover{
    transform: scale(1.5);
    transition: 0.3s
}



.front-page__front-info{
    margin: auto;
    max-width: 1298px;
    display: flex;
    flex-direction: row;
    padding-top: 150px;
    align-items: flex-start;
    justify-content: space-between;
}
.front-page__front-info__article-1{
    display: flex;
    flex-direction: row;
}
.front-page__front-info__article-1__span{
    width: 72px;
    height: 600px;
    background-color: #272932;
}
.front-page__front-info__article-1__p{
    display: flex;
    justify-content: flex-start;
}
.front-page__front-info__article-1__p{
    max-width: 500px;
}
.front-page__front-info__article-1__p .s{
    font-size: 70px;
    margin-left: -11.5%;
    font-weight: 900;
    margin-top: 10px;
}
.front-page__front-info__article-1__p .rest{
    margin-left: 3%;
    padding-top: 20px;
    line-height: 40px;
    font-size: 23px;
    padding-left: 2%;
    font-weight: 900;
}



.front-page__front-info__article-2{
    display: flex;
    justify-content: right;
}
.front-page__front-info__article-2 img{
    max-width: 400px;
}





.o-nas{
    max-width: 1298px;
    margin: auto;
}
.o-nas h1{
    display: flex;
    justify-content: center;
    font-size: 200px;
    z-index: 2;
    margin-top: 0px;
    margin-bottom: -105px;
    letter-spacing: 22px;
}
.o-nas__layout__oteviraci-doba h2{
    font-size: 100px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-top: -65px;
    letter-spacing: 2px;
    z-index: 5;
}
.o-nas__layout__photo, .o-nas__layout__photo2-0{
    vertical-align: middle;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    z-index: 0;
}
.o-nas__layout__photo2-0{
    z-index: 0;
    display: none;
}
.o-nas__layout__info{
    display: flex;
    align-items: center;
}
.o-nas__layout__info p{
    font-weight: 300;
}
.o-nas__layout__photo img, .o-nas__layout__photo2-0 img{
    height: 100%;
    width: auto;
}
.o-nas__layout__info div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.o-nas__layout__info div p{
    max-width: 60%;
    padding-right: 5%;
    text-align: right;
    font-weight: 300;
}
.o-nas__layout__rychlost{
    display: flex;
    align-items: center;
}
.o-nas__layout__rychlost div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.o-nas__layout__rychlost div p{
    max-width: 60%;
    padding-left: 5%;
    font-weight: 300;
    align-self: center;
}
.o-nas__layout__poloha{
    display: flex;
    align-items: center;
    margin: auto;
}
.o-nas__layout__poloha div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.o-nas__layout__poloha div p{
    max-width: 60%;
    padding-right: 5%;
    text-align: right;
    font-weight: 300;
}
.o-nas__layout__oteviraci-doba h3{
    justify-content: center;
    display: flex;
}
.o-nas__layout__oteviraci-doba{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.o-nas__layout__oteviraci-doba__tabulka{
    display: flex;
    flex-direction: row;
    gap: 40%;
    line-height: 22px;
    justify-content: center;
    letter-spacing: 7px;
}
.o-nas__layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 263px 263px 263px;
    gap: 0px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "info info info info info info photo photo photo photo photo"
      "rychlost rychlost rychlost rychlost rychlost rychlost photo photo photo photo photo"
      "poloha poloha poloha poloha poloha poloha Otevírací-doba Otevírací-doba Otevírací-doba Otevírací-doba Otevírací-doba";
  }
  
  .o-nas__layout__info { grid-area: info; }
  
  .o-nas__layout__photo { grid-area: photo; }
  
  .o-nas__layout__photo2-0 { grid-area: photo2-0; }
  
  .o-nas__layout__poloha { grid-area: poloha; }
  
  .o-nas__layout__oteviraci-doba { grid-area: Otevírací-doba; }
  
  .o-nas__layout__rychlost { grid-area: rychlost; }





.instagram{
    background-image: url(Diadni-RDY-NA-WEB/zele.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 6000px;
    margin-top: 2em;
}
.instagram__obsah__kontejner{
    max-width: 1298px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
}
.instagram__obsah__kontejner__article{
    display: flex;
    flex-direction: row;
}
.instagram__obsah__kontejner__article span{
    background-color: #272932;
    width: 72px;
    height: 200px;
}
.instagram__obsah__kontejner__article__big{
    font-size: 70px;
    display: flex;
    align-items: end;
    margin-left: -60px;
    font-weight: 900;
}
.instagram__obsah__kontejner__article__rest{
    display: flex;
    align-items: end;
    margin-bottom: -20px;
    margin-left: 20px;
    font-weight: 900;
    font-size: 23px;
}
.instagram__obsah__fotky{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    align-items: flex-end;
}
.instagram-media{
    max-width: 250px;
    margin-bottom: 2rem;
    margin-top: 2rem;
    max-height: 600px;
}
.instagram__obsah{
    margin-bottom: 0rem;
}
blockquote{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.galery__layout{
    display: flex;
    flex-direction: row;
    max-width: 1298px;
    margin: auto;
    justify-content: space-between;
}
.galery__layout__sekce-1{
    max-width: 400px;
}
.galery__layout__sekce-1 img{
    width: 100%;
}
.galery__layout__sekce-1__kontejner{
    max-width: 400px;
    height: auto;
    position: relative;
    display: flex;
    overflow: hidden;
    transition: 0.5s;
}
.galery__layout__sekce-3__kontejner{
    max-width: 400px;
    height: auto;
    position: relative;
    display: flex;
    overflow: hidden;
    transition: 0.5s;
}
.galery__layout__sekce-1__kontejner:hover{
    z-index: 1;
    transform: scale(1.1);
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.6);
    transition-duration: 0.4s;
}
.galery__layout__sekce-3__kontejner:hover{
    z-index: 1;
    transform: scale(1.1);
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.6);
    transition-duration: 0.4s;
}
.image__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}
.galery__layout__sekce-1__kontejner .image__overlay .image__title{
    font-size: 20px;
    transition: 0.5s;
    transform: translateX(500px);
    color: seashell;
    background-color: rgba(0, 0, 0, 0.6);
}
.galery__layout__sekce-3__kontejner .image__overlay .image__title{
    font-size: 20px;
    transition: 0.5s;
    transform: translateX(-500px);
    color: seashell;
    background-color: rgba(0, 0, 0, 0.6);

}
.galery__layout__sekce-1__kontejner:hover .image__title{
    transform: translateX(0);
}
.galery__layout__sekce-3__kontejner:hover .image__title{
    transform: translateX(0);
}
.galery__layout__sekce-3{
    max-width: 400px;
}
.galery__layout__sekce-3 img{
    width: 100%;
}
.galery__layout__sekce-2{
    min-width: 30%;
    display: flex;
    align-items: center;
    text-align: center;
}
.galery__layout__sekce-2 p{
    font-weight: 900;
    margin: 0;
}
.Na{
    font-size: 150px;
}
.cem{
    font-size: 75px;
}
.si{
    font-size: 35px;
}


.footer-layout{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1298px;
    margin: auto;
    font-weight: 300;
}
.footer-layout h3{
    color: #F3950D;
}
.footer-layout__div3 svg{
    fill: white;
    font-weight: 300;
}
footer{
    background-color: black;
    margin-top: 4rem;
    padding-bottom: 2rem;
}

@media (max-width: 1300px){
    html{
        letter-spacing: 1px;
    }
    .o-nas h1{
        font-size: 70px;
        margin-bottom: 0;
        letter-spacing: 2px;
    }
    .o-nas__layout__oteviraci-doba h2{
        font-size: 40px;
        margin-bottom: 10px;
        text-align: center;
    }
    .nav{
        flex-direction: column;
    }
    .o-nas__layout__oteviraci-doba__tabulka{
        letter-spacing: 3px;
    }
    .instagram__obsah__kontejner, .front-page__front-info, .main, header, .instagram__obsah__fotky, .galery__layout, .footer-layout {
        max-width: 950px;
        margin: 0 auto;
    }
    .instagram__obsah__fotky{
        margin-top: 20px;
    }
    .front-page__front-info__article-1__p .rest{
        max-width: 400px;

    }
    .front-page__front-info__article-1__p .s{
        margin-left: -13%;
    }
}
@media (max-width: 900px){

    .header-page__span span{
        width: 50px;
        height: 10px;
        border-radius: 10%;
        background-color: black;
}
.main{
    margin: auto;
    background-image: url("./Diadni-RDY-NA-WEB/bg5.jpg");
    background-size: cover;
}
    .header-page__span{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 5px;
        position: relative;
        visibility: visible;
        margin-right: 3rem;
        transition: 0.5s;
        cursor: pointer;
        z-index: 1;
        display: none;
    }

    .header-page__span.active{
        transform: rotate(360deg);
    }
    .nav{
        display: none;
        z-index: 100;
        gap: 5px;
    }
    .nav{
        transition: ease-in-out;
        transition-duration: 0.3s;
        display: grid;
    }
    .nav__item{
        padding-left: 1em;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-right: 1em;
        transition: .5s;
        border: solid 2px;
        font-size: 14px;
    }
    .o-nas__layout__photo2-0{
        display: flex;
    }
    .o-nas__layout {
        display: grid;
        grid-template-rows: 263px 263px 263px 263px;
        gap: 0px 10px;
        grid-auto-flow: row;
        grid-template-areas:
          "info info info info info info photo photo photo photo photo"
          "rychlost rychlost rychlost rychlost rychlost rychlost photo2-0 photo2-0 photo2-0 photo2-0 photo2-0"
          "poloha poloha poloha poloha poloha poloha photo2-0 photo2-0 photo2-0 photo2-0 photo2-0"
          "Otevírací-doba Otevírací-doba Otevírací-doba Otevírací-doba Otevírací-doba Otevírací-doba Otevírací-doba Otevírací-doba Otevírací-doba Otevírací-doba Otevírací-doba";
      }
      .o-nas__layout__info { grid-area: info; }
  
      .o-nas__layout__photo { grid-area: photo; }
      
      .o-nas__layout__photo2-0 { grid-area: photo2-0; }
      
      .o-nas__layout__poloha { grid-area: poloha; }
      
      .o-nas__layout__oteviraci-doba { grid-area: Otevírací-doba; }
      
      .o-nas__layout__rychlost { grid-area: rychlost; }
    
      .instagram__obsah__kontejner,.instagram__obsah__fotky, .galery__layout, .footer-layout{
          padding-left: 2rem;
          padding-right: 2rem;
      }

      .front-page__front-info{
          flex-direction: column;
          padding-top: 6rem;
          align-items: center;
          flex-direction: column-reverse;
      }
      .front-page__front-info__article-1__span{
          height: 250px;
      }
      .front-page__front-info__article-1{
          padding-bottom: 3rem;
          padding-left: 2rem;
          padding-right: 2rem;
      }
      .front-page__fotky .obr1{
          max-width: 100px;
      }
      header{
          padding-left: 1rem;
          padding-right: 1rem;
      }
      .front-page__fotky .obr2{
          max-width: 200px;
      }
      .front-page__front-info__article-1__p .rest{
          font-size: 20px;
            line-height: 35px;
            padding-left: 4%;

      }
      .front-page__front-info__article-1__p .s{
          font-size: 50px;
      }
      .front-page__front-info__article-2{
          padding-bottom: 2rem;
      }
      .o-nas__layout__info div p{
          position: absolute;
          padding-top: 125px;
          padding-right: 0;
          text-align: center;
      }
      .o-nas__layout__info div{
          max-width: 60px;
      }
      .o-nas__layout__photo img, .o-nas__layout__photo2-0 img{
          width: auto;
      }
      .o-nas__layout__rychlost div p{
        position: absolute;
        padding-top: 125px;
        padding-left: 0;
        text-align: center;
      }
      .o-nas__layout__rychlost div{
          max-width: 60px;
      }
      .o-nas__layout__photo{
          object-fit: fill;
      }
      .o-nas__layout__poloha div p{
          position: absolute;
          padding-top: 125px;
        padding-left: 0;
        text-align: center;
      }
      .o-nas__layout__poloha div{
          max-width: 60px;
      }
      .o-nas__layout__info{
          justify-content: center;
      }
      .o-nas__layout__rychlost{
          justify-content: center;
      }
      .o-nas__layout__poloha{
          justify-content: center;
      }
      .footer-layout h3{
          font-size: 16px;
      }
      .footer a{
          font-size: 14px;
      }
      .footer-layout{
        padding-left: 2rem;
        padding-right: 2rem;
        gap: 30px
      }
      .galery__layout{
          flex-direction: column;
      }
      .galery__layout__sekce-1, .galery__layout__sekce-2, .galery__layout__sekce-3{
          margin: auto;
      }
      .galery__layout__sekce-1__kontejner .image__overlay .image__title{
        font-size: 20px;
        color: seashell;
        background-color: rgba(0, 0, 0, 0.6);
    }
    .galery__layout__sekce-3__kontejner .image__overlay .image__title{
        font-size: 20px;
        color: seashell;
        background-color: rgba(0, 0, 0, 0.6);
    
    }
    .galery__layout__sekce-1__kontejner .image__title{
        transform: translateX(0);
    }
    .galery__layout__sekce-3__kontejner .image__title{
        transform: translateX(0);
    }
}
@media (max-width: 550px){
    .front-page__front-info__article-1__p .rest{
        font-size: 14px;
        letter-spacing: 0;
        line-height: 25px;
    }
    .o-nas h1{
        font-size: 65px;
        margin-bottom: 2rem;
    }
    .o-nas__layout__oteviraci-doba h2{
        font-size: 30px;
    }
    .o-nas__layout p{
        font-size: 14px;
        letter-spacing: normal;
    }
    .o-nas__layout__rychlost div p{
        padding-top: 150px;
    }
    .o-nas__layout__info div p{
        padding-top: 160px;
    }
    .o-nas__layout__oteviraci-doba__tabulka{
        gap: 20%;
    }
    .front-page__front-info__article-1__span{
        height: 220px;
    }
    .front-page__fotky{
        align-items: flex-start;
    }
    .front-page__front-info__article-2{
        padding-bottom: 1rem;
    }
    .instagram__obsah__kontejner__article__big{
        font-size: 50px;
    }

    body > div > section.instagram > section > div.instagram__obsah__fotky > blockquote:nth-child(3){
        min-width: none;
        max-width: 300px;
    }

    .instagram__obsah__kontejner__article__rest{
        font-size: 14px;
        letter-spacing: 0;
        line-height: 20px;
    }
    .instagram__obsah__kontejner__article__big{
        margin-left: -45px;
    }
    .instagram__obsah__kontejner__article span{
        width: 50px;
        height: 150px;
    }
    .front-page__front-info__article-1__span{
        display: flex;
        min-width: 50px;
    }
    .front-page__front-info__article-1__p .s{
        margin-left: -40px;
    }

    .front-page__fotky .obr2{
        max-width: 120px;
    }
    .front-page__front-info{
        padding-top: 2rem;
    }
    .front-page__fotky .obr1{
        max-width: 70px;
    }
    .header-page__span span{
        width: 40px;
        height: 5px;
    }
    .header-page__span{
        margin-right: 1.5rem;
        display: flex;
    }
    header{
        padding-left: 1rem;
    }
    .nav{
        display: none;
    }
    .nav.active{
        position: absolute;
        transition: 1s;
        display: flex;
    }
    .nav__item{
        box-shadow: #272932 20px 20px 40px;
        z-index: 100;
    }
    .nav__item:hover{
        transform: scale(1.1);
        transition: 1s;
    }
    .footer-layout{
        flex-direction: column;

    }
}
